doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Categoria
    body
        table
            each  category in  categories
                tr
                    th=category.title 
                    th=category.color